<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AOS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
</head>
<body>
<section class="section">

    <div class="container">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    Playlist of Videos on Youtube for Adv. O.S.
                </p>
                <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
                </a>
            </header>
            <div class="card-content">
                <div class="content" style="  word-break: break-all;">
                    <ul>
                        <li>
                            <a href="https://www.youtube.com/playlist?list=PLM-jfaoaU5ixdbVuVbi4KVpm9Q4X9WkU3"
                               target="_blank">Theory</a>
                        </li>
                    </ul>
                    <ul>
                        <li><a href="https://www.youtube.com/playlist?list=PL3uLubnzL2Tlbyrr2GFVRE7Azo8FJe-dJ"
                               target="_blank">Programming</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <strong style="color: red">PLEASE NOTE PROGRAMS ARE EQUALLY IMPORTANT </strong><br>
                            <strong style="color: red">THERE ARE IMPORTANT QUESTIONS LIKE <U>TRACE THE OUTPUT </U>OR
                                <U>WRITE A PROGRAM</U>
                            </strong>
                        </li>
                    </ul>
                </div>
            </div>
            <footer class="card-footer">
                <a href="/" class="card-footer-item">Visit Oxvsys</a>
                <a href="mailto:customer.oxvsys@gmail.com" class="card-footer-item">Mail</a>
            </footer>
        </div>
    </div>
</section>
</body>
</html>