<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DIP</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
</head>
<body>
<section class="section">

    <div class="container">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    Playlist of Videos on Youtube for Digital Image Processing
                </p>
                <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
                </a>
            </header>
            <div class="card-content">
                <div class="content">
                    <ul>
                        <li><a href="https://www.youtube.com/playlist?list=PL9P1J9q3_9fPsoItqGbMia545Y9DlbOAZ"
                               target="_blank">https://www.youtube.com/playlist?list=PL9P1J9q3_9fPsoItqGbMia545Y9DlbOAZ</a>
                        </li>
                        <li><a href="https://www.youtube.com/playlist?list=PL9P1J9q3_9fOQzB_cKrJ1Jo4XA0DMikyo"
                               target="_blank">https://www.youtube.com/playlist?list=PL9P1J9q3_9fOQzB_cKrJ1Jo4XA0DMikyo</a>
                        </li>
                        <li><a href="https://www.youtube.com/playlist?list=PLZ9qNFMHZ-A79y1StvUUqgyL-O0fZh2rs"
                               target="_blank">https://www.youtube.com/playlist?list=PLZ9qNFMHZ-A79y1StvUUqgyL-O0fZh2rs</a>
                        </li>
                        <li><a href="https://www.youtube.com/playlist?list=PLBvvSSU8TaFdT4_1TyBBp8YeuYBkKP0bF"
                               target="_blank">https://www.youtube.com/playlist?list=PLBvvSSU8TaFdT4_1TyBBp8YeuYBkKP0bF</a>
                        </li>
                        <li><a href="https://www.youtube.com/playlist?list=PLIUaVvCR10sL3_dQVvvT2R72YZ8a6s0TT"
                               target="_blank">https://www.youtube.com/playlist?list=PLIUaVvCR10sL3_dQVvvT2R72YZ8a6s0TT</a>
                        </li>
                    </ul>
                </div>
            </div>
            <footer class="card-footer">
                <a href="/" class="card-footer-item">Visit Oxvsys</a>
                <a href="mailto:customer.oxvsys@gmail.com" class="card-footer-item">Mail</a>
            </footer>
        </div>
    </div>
</section>
</body>
</html>